<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/login"></ion-back-button>
    </ion-buttons>
    
    <!-- si carrito contiene 1 sólo pedido el botón se activará -->
    <!-- cambiar a carrito.lenght > 0 ; else #other content-->
    <div *ngIf="carrito.length === 0">
    <ion-button tab="Pedidos" routerLink="/pedido">
      <ion-icon name="cart"></ion-icon>
    </ion-button>
    <ion-title class="center">Favoritos</ion-title>
    <!-- <ng-template #othercontent>
      <ion-icon name="cart-outline"></ion-icon>
    </ng-template> -->
    </div>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <!-- <ion-slides [options]="sliderOpts"
    *ngIf="getDatosFavs.length === 0">
    <ion-slide>
      <ion-label>No hay juegos favoritos que mostrar</ion-label>
    </ion-slide>
  </ion-slides> -->
    <!-- <app-juegos *ngIf="FavsService.juegos.length > 0"
    [juegos]="FavsService.juegos.length"></app-juegos> -->
  <p></p>
  <ion-list #lista>
    <ion-item-sliding *ngFor="let juego of juegos">
      <ion-card color="light">
        <ion-label class="letras">
          
          <h1>{{ juego.title }}</h1>
          <img src="{{juego.thumbnail}}">
          <p>Descripción: {{ juego.short_description }}</p>
          <p>Desarrollador: {{ juego.developer }}</p>
          <p>Plataforma: {{ juego.platform }}</p>
          <!-- (click)="addPedido()" aquí debajo va -->
          <button (click)="addPedido($event)" class="button2" name="add-{{ juego.id }}" ion-button>
            <ion-icon name="add"></ion-icon>
          </button>
        </ion-label>
        <div *ngIf="!showAll">
          {{juego | pipe:10:showAll}}
          <ion-button (click)="showAll=true">Ver más</ion-button>
        </div>
        <div *ngIf="showAll">
          {{juego.short_description}}
          <ion-button (click)='showAll=false'>Ver menos</ion-button>
        </div>
      </ion-card>
    </ion-item-sliding>
  </ion-list>
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="primary">
      <ion-tab-button tab="juegos" routerLink="/juegos">
        <ion-icon name="play"></ion-icon>
        <ion-label>Juegos</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="plataformas" routerLink="/plataformas">
        <ion-icon name="cube"></ion-icon>
        <ion-label>Plataformas</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="favoritos" routerLink="/favoritos">
        <ion-icon name="star"></ion-icon>
        <ion-label>Favoritos</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>
