<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- [formGroup] = "formLogin" -->
  <form [formGroup]="formLogin" method="POST" (ngSubmit)="login_real()">
    <ion-item class="dato_usuario">
      <ion-label position="floating">Email:</ion-label>
      <ion-input formControlName="email" type="text"></ion-input>
    </ion-item>
    <ion-label color="danger" *ngIf="formLogin.controls.email.errors?.required && (formLogin.touched || formLogin.dirty)">
      * Debe introducir un email.
    </ion-label>
    <ion-label color="danger" *ngIf="formLogin.controls.email.errors?.minLength && (formLogin.touched || formLogin.dirty)">
      * Su email debe tener al menos 3 caracteres.
    </ion-label>
    <ion-item class="dato_usuario">
      <ion-label position="floating">Contraseña:</ion-label>
      <ion-input formControlName="password" type="text"></ion-input>
    </ion-item>
    <ion-label color="danger" *ngIf="formLogin.controls.password.errors?.required && (formLogin.touched || formLogin.dirty)">
      * Debe introducir una contraseña.
    </ion-label>
    <ion-label color="danger" *ngIf="formLogin.controls.password.errors?.minLength && (formLogin.touched || formLogin.dirty)">
      * Su contraseña debe tener al menos 3 caracteres.
    </ion-label>
    <ion-button type="submit" color="primary">Entrar</ion-button>
  </form>
</ion-content>
