<ion-header [translucent]="true">
  <!-- titulo -->
    <ion-toolbar color="secondary">
      <ion-buttons slot="start">
        <ion-back-button routerLink="/login"></ion-back-button>
      </ion-buttons>
      <ion-title>
        Plataformas
        <ion-icon name="cube"></ion-icon>
      </ion-title>
    </ion-toolbar>
  <!-- barra opciones -->
      <ion-segment 
      value="all" 
      color="tertiary" 
      scrollable="true"
      mode="ios"
      [(ngModel)]="segmentModel" 
      (ionChange)="segmentChanged($event)">
  
        <ion-segment-button value = "PC" (click)="mostrarJuegosPC()">
          <ion-label>PC (Windows)</ion-label>
        </ion-segment-button>
  
        <ion-segment-button value = "WEB" (click)="mostrarJuegosBrowser()">
          <ion-label>Web Browser</ion-label>
        </ion-segment-button>
      </ion-segment>
</ion-header>
  
  <ion-content [fullscreen]="true" class="ion-padding">
    <!-- contenido del PC -->
    <ion-card *ngIf="mostrarJuegosPC">
      <ion-card-header>
        <ion-card-subtitle>Plataforma</ion-card-subtitle>
        <ion-card-title>PC</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-card *ngFor="let juego of juegosPC">
          <ion-label>
            <h1 class="center">{{ juego.title }}</h1>
            <img src="{{juego.thumbnail}}">
            <p>Desarrollador: {{ juego.developer }}</p>
            <p>Plataforma: {{ juego.platform }}</p>
          </ion-label>
          <div *ngIf="!showAll">
            {{juego | pipe:10:showAll}}
            <ion-button (click)="showAll=true">Ver más</ion-button>
          </div>
          <div *ngIf="showAll">
            {{juego.short_description}}
            <ion-button (click)='showAll=false'>Ver menos</ion-button>
          </div>
        </ion-card>
      </ion-card-content>
    </ion-card>
    <!-- contenido del browser -->
    <ion-card *ngIf="mostrarJuegosBrowser">
      <ion-card-header>
        <ion-card-subtitle>Plataforma</ion-card-subtitle>
        <ion-card-title>Web Browser</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-item-sliding *ngFor="let juego of juegosBro">
          <ion-card>
            <ion-label>
              <p>{{ juego.title }}</p>
              <img src="{{juego.thumbnail}}">
              <p>Desarrollador: {{ juego.developer }}</p>
              <p>Plataforma: {{ juego.platform }}</p>
            </ion-label>
            <div *ngIf="!showAll">
              {{juego | pipe:10:showAll}}
              <ion-button (click)="showAll=true">Ver más</ion-button>
            </div>
            <div *ngIf="showAll">
              {{juego.short_description}}
              <ion-button (click)='showAll=false'>Ver menos</ion-button>
            </div>
          </ion-card>
        </ion-item-sliding>
      </ion-card-content>
    </ion-card>

    <!-- barra de abajo-->
    
      <ion-tabs>
        <ion-tab-bar slot="bottom" color="primary">
          <ion-tab-button tab="juegos" routerLink="/juegos">
          <ion-icon name="play"></ion-icon>
          <ion-label>Juegos</ion-label>
          </ion-tab-button>
          <ion-tab-button tab="plataformas" routerLink="/plataformas">
          <ion-icon name="cube"></ion-icon>
          <ion-label>Plataformas</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>