<ion-header>
  <ion-toolbar color="secondary">
    <ion-buttons slot="start">
      <ion-back-button routerLink="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Juegos
      <ion-icon name="play"></ion-icon>
    </ion-title>    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding" color="dark">
  
  <ion-list #lista>
    <ion-item-sliding *ngFor="let juego of juegos" color="dark">
      <ion-card color="light">
        <ion-label class="letras">
          <h1>{{ juego.title }}</h1>
          <img src="{{juego.thumbnail}}">
          <p>Descripción: {{ juego.short_description }}</p>
          <p>Desarrollador: {{ juego.developer }}</p>
          <p>Plataforma: {{ juego.platform }}</p>
        </ion-label>
          
        <div *ngIf="!showAll">
          {{juego | pipe:10:showAll}}
          <ion-button (click)="showAll=true">Ver más</ion-button>
        </div>
        <div *ngIf="showAll">
          {{juego.short_description}}
          <ion-button (click)='showAll=false'>Ver menos</ion-button>
        </div>
        <button class="button1" ion-button (click)="pulsarClick($event)" name="star-{{ juego.id }}" color="success">
          <ion-icon name="star-outline"></ion-icon>
        </button>
      </ion-card>
    </ion-item-sliding>
  </ion-list>
  <ion-tabs>
    <ion-tab-bar slot="bottom" color="primary">
      <ion-tab-button tab="juegos" routerLink="/juegos">
      <ion-icon name="play"></ion-icon>
      <ion-label>Juegos</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="plataformas" routerLink="/plataformas">
      <ion-icon name="cube"></ion-icon>
      <ion-label>Plataformas</ion-label>
      </ion-tab-button>
      <ion-tab-button tab="favoritos" routerLink="/favoritos">
        <ion-icon name="star"></ion-icon>
        <ion-label>Favoritos</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
  
  <!-- <ion-infinite-scroll>
    <ion-infinite-scroll-content loading-spinner="crescent" loadingText="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll> -->
  <ion-infinite-scroll threshold="150px" (ionInfinite)="loadData($event)" id="infinite-scroll">
    <ion-infinite-scroll-content loading-spinner="crescent" loading-text="Cargando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
<app-footer>
  
</app-footer>